---
layout: archive
title: "Contact me"
permalink: /contact_me/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
<br>

Email ID: prashanth.yadamala@gmail.com<br>
Phone No: +61 410354871<br>
LinkedIn: <a href="https://www.linkedin.com/in/prashanthyadamala/">Prashanth Yadamala</a><br>
